<a href="https://colab.research.google.com/github/LiliannLucas/Practices/blob/main/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

you do have numbers from 1 - 10

1. Create integer arrary from your numbers

In [ ]:
x =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find all even numbers and print

In [ ]:
x

even_i = []
for i in x:
    if i % 2 == 0:
      even_i.append(i)

 
even = even_i
 
print(even)

[2, 4, 6, 8, 10]

3. Find all odd numbers and print

In [ ]:
x

odd_i = []
for i in x:
    if i % 2 == 1:
      odd_i.append(i)

 
odd = odd_i
 
print(odd)

[1, 3, 5, 7, 9]

4. if numers are even, multipy 5

In [ ]:
print(even)

timesfive = []


for i in even:
  y = i * 5
  timesfive.append(y)

 
print(timesfive)

[2, 4, 6, 8, 10]
[10, 20, 30, 40, 50]

5. if numbers are odd, multipy 50 and, then, divide by 3

In [ ]:
x

multidiv = []


for i in odd:
  q = (i * 50) / 3
  multidiv.append(q)
    
 

print(multidiv)

[16.666666666666668, 50.0, 83.33333333333333, 116.66666666666667, 150.0]

6. find all numbers under 10, create a new array

In [44]:
numbers = timesfive + multidiv + odd + even

# print(numbers)

newa = []

for i in numbers:
  if i < 10:
    print(i)
    newa.append(i)

1
3
5
7
9
2
4
6
8

7. combine all arrary variables into one array. e.g. a = [1,3,3,11] b=[3,3,12] ==> [1,3,3,11,3,3,12]

In [52]:
print(numbers)

[10, 20, 30, 40, 50, 16.666666666666668, 50.0, 83.33333333333333, 116.66666666666667, 150.0, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

8. remove any duplicate values from array

In [54]:
print(numbers)

dupli = []
for i in numbers:
    if i not in dupli:
        dupli.append(i)


print(dupli)

[10, 20, 30, 40, 50, 16.666666666666668, 50.0, 83.33333333333333, 116.66666666666667, 150.0, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[10, 20, 30, 40, 50, 16.666666666666668, 83.33333333333333, 116.66666666666667, 150.0, 1, 3, 5, 7, 9, 2, 4, 6, 8]

9. find all float values from array

In [65]:
# print(dupli)

res = []
for i in dupli:
  if isinstance(i, float):
    print(i)

16.666666666666668
83.33333333333333
116.66666666666667
150.0